*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.slider{
  width: 60%;
  height: 70vh;
  position: relative;
  margin: calc(20vh/2) auto;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -1px #000;
}

.slides{
  width: 100%;
  height: 100%;
  display: flex;
}

.slide{
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img{
  width: 100%;
  height: 100%;
}

.slide h1{
  position: absolute;
  top: 30px;
  left: 50px;
  color: #fff;
  font-size: 30px;
}
.slide h1 span{
  display: block;
  color: #ffe600;
  margin-top: 5px;
  margin-left: 40px;
}

.languagesUsed{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.languagesUsed h4{
  color: #fff;
  margin-bottom: 15px;
  font-size: 25px;
}
.imgsLang img {
  width: 70px;
  height: 70px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.arrows-nav{
  position: absolute;
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrows-nav .fa-chevron-left{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: .7s;
  opacity: 0;
}

.arrows-nav .fa-chevron-right{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: .7s;
  opacity:0;
}
.dots-nav{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 9999;
}
.dots-nav span{
  width: 15px;
  height: 15px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: .7s;
}

.active{
  background-color: #fff !important;
}
